*{
    box-sizing: border-box;
}

.App {
    position: relative;
    background-color: #2a2a2a;
    color: #ffffff;
    font-family: "Oswald",sans-serif;
}

.App::before {
    height: 100%;
    width:1px;
    content: '';
    position: absolute;
    background-color: #555;
    top: 0;
    left: 12%;
    z-index: 20;
}
.App::after {
    height: 100%;
    width:1px;
    content: '';
    position: absolute;
    background-color: #555;
    top: 0;
    right: 12%;
    z-index: 20;
}
@media (max-width: 1080px) {
    .App::after{
        right: 2%;
    }
    .App::before{
        left: 2%;
    }
}

